/*!
 * @file    main.less
 * @brief   Main styles for the index.html; Test Page
 * @author  Justin D. Byrne <justin@byrne-systems.com>
 * @author  Byrne-Systems <http://www.byrne-systems.com>
 */

*
{ box-sizing: border-box; }

#Byrne-Systems
{ /* Landing Page */
  .coverr;

  #fonts > .load > .open-sans;
  #fonts > .load > .droid-serif;

  /* Desktop */
  @media (max-width: 1920px)
  { header
    { height: 30px; padding: 14px 14px 0 14px; background-color: @abbey; color: @haze; border-bottom: 1px solid #000; text-shadow: 0 -1px #000; box-shadow: 1px 0px 2px #000; #fonts > .face > .droid-serif(normal, 14px, 20px);
      button
      { display: inline-block; position: absolute; right: 10px; margin-top: -6px; padding: 6px 8px; background-color: @abbey; color: @haze; border: 1px solid #000; border-radius: 3px;
        &:hover
        { background-color: @nevada; }
        &:active
        { background-color: @masla; }
      }
    }

    .logo
    { .pure-img; max-width: 80%; display: inline-block; position: relative; padding-top: 147px; min-width: 100%; height: auto; text-align: center; z-index: 2; margin: 0 auto;
      /* Nexus X5 (Landscape)*/
      @media (max-width: 768px)
      { padding-top: 70px; }
      /* iPhone 5*/
      @media (max-width: 720px)
      { padding-top: 51px; }
      img
      { max-width: 66.666%; }
    }

    .video-wrapper
    { overflow-x: hidden !important; overflow-y: hidden !important; }

    footer
    { display: block; position: fixed; bottom: 0; min-width: 100%; height: 77px; padding: 14px 14px 0 14px; background-color: @abbey; color: white; border-bottom: 1px solid #000; text-shadow: 0 -1px #000; box-shadow: 1px 0px 2px #000; #fonts > .face > .droid-serif(normal, 14px, 20px);
      ul
      { list-style-type: none; margin: 0 auto; padding: 0; width: 300px;
        li
        { display: inline; padding-right: 14px;
          a
          { text-decoration: none; color: @haze;
            &:hover
            { color: @chateau; text-decoration: underline; }
          }
        }
      }
    }

  }

  /* Blog Page */
  #blog {
    .sidebar
    { .pure-u-1; .pure-u-1-4; position: fixed; top: 0; bottom: 0; background-color: @pure-blue;
      .brand
      { .pure-img; }
      .tagline
      { color: @haze; #fonts > .face > .droid-serif(normal, 14px, 20px); text-align: center; }
      .nav
      { ul.nav-list
        { width: 90px; margin: 0 auto; padding: 0; list-style-type: none;
          a
          { .flat-button; margin-bottom: 7px; text-decoration: none; color: @bsy-black; #fonts > .face > .droid-serif(normal, 18px, 20px); font-weight: 600; }
        }
      }
      .header
      { margin: 80% 2em 0; top: auto; }
    }
    .content
    { .pure-u-1; .pure-u-3-4; margin-left: 25%; padding: 2em 3em 0; }
  }


}