/*!
 * @file    main.less
 * @brief   Main styles for the index.html; Test Page
 * @author  Justin D. Byrne <justin@byrne-systems.com>
 * @author  Byrne-Systems <http://www.byrne-systems.com>
 */



*
{ box-sizing: border-box; }

a
{ text-decoration: none; }

#fonts > .load;

#Byrne-Systems
{ /* Landing Page */
  .coverr;

  /* Desktop */
  @media (max-width: 1920px)
  { header
    { height: 30px; padding: 14px 14px 0 14px; background-color: @abbey; color: @haze; border-bottom: 1px solid #000; text-shadow: 0 -1px #000; box-shadow: 1px 0px 2px #000; #fonts > .face > .droid-mono(normal, 14px, 20px);
      button
      { display: inline-block; position: absolute; right: 10px; margin-top: -6px; padding: 6px 8px; background-color: @abbey; color: @haze; border: 1px solid #000; border-radius: 3px;
        &:hover
        { background-color: @nevada; }
        &:active
        { background-color: @masla; }
      }
    }

    .logo
    { .pure-img; max-width: 80%; display: inline-block; position: relative; padding-top: 147px; min-width: 100%; height: auto; text-align: center; z-index: 2; margin: 0 auto;
      /* Nexus X5 (Landscape)*/
      @media (max-width: 768px)
      { padding-top: 70px; }
      /* iPhone 5*/
      @media (max-width: 720px)
      { padding-top: 51px; }
      img
      { max-width: 66.666%; }
    }

    .video-wrapper
    { overflow-x: hidden !important; overflow-y: hidden !important; }

    footer
    { display: block; position: fixed; bottom: 0; min-width: 100%; height: 77px; padding: 14px 14px 0 14px; background-color: @abbey; color: white; border-bottom: 1px solid #000; text-shadow: 0 -1px #000; box-shadow: 1px 0px 2px #000; #fonts > .face > .droid-mono(normal, 14px, 20px);
      ul
      { list-style-type: none; margin: 0 auto; padding: 0; width: 300px;
        li
        { display: inline; padding-right: 14px;
          a
          { color: @haze;
            &:hover
            { color: @chateau; text-decoration: underline; }
          }
        }
      }
    }

  }

  /* Blog Page */
  #blog {

    /* Sidebar */
    .sidebar
    { .pure-u-1; .pure-u-1-4; position: fixed; top: 0; bottom: 0; background-color: @bsy-bg-blue; border-right: 1px solid black;
      .brand
      { .pure-img; }
      .tagline
      { color: @haze; #fonts > .face > .droid-mono(normal, 16px, 32px); text-align: center; text-shadow: 1px 1px 3px black; }
      .nav
      { .nav-list
        { width: 110px; margin: 0 auto; padding: 0; list-style-type: none;
          .button
          { .flat-button; margin-bottom: 7px; color: @bsy-black; #fonts > .face > .cabin(normal, 18px, 20px); font-weight: 600;
            span
            { display: inline-block; padding-right: 2px; #fonts > .face > .webfont-icons(normal, 18px, 20px); }
            .about::before
            { content: "\e971"; }
            .blog::before
            { content: "\e91f"; }
            .projects::before
            { content: "\ea81"; }
            .contact::before
            { content: "\e978"; }
          }
          .button::before
          { position: relative; top: 24px; left: 12px;}
        }
      }
      .header
      { margin: 60% 2em 0; top: auto; }
    }

    /* Content */
    .content
    { .pure-u-1; .pure-u-3-4; margin-left: 25%; padding: 2em 3em 0; background-color: @athens-light; color: black; border-left: 1px solid @nepal; box-shadow: 2px 0px 3px black;
      .content-subhead
      { #fonts > .face > .droid-mono(normal, 14px, 10px); padding: 10px; background-color: @link-water; .border(1px, solid, white, @right, @bottom, @left);
        span
        { display: inline-block; }
        .timestamp
        { padding: 3px 0px 0px 3px;
          &::before
          { #fonts > .face > .webfont-icons(normal, 18px, 20px); content: "\e94e"; }
        }
        .stamp
        { position: relative; top: -1px; padding-left: 5px; #fonts > .face > .cornerstone(normal, 18px, 20px); color: @azure; }
      }
      .post
      { padding-bottom: 10px;
        .post-header
        { height: 100px; background-color: @athens-gray; text-shadow: none; box-shadow: none; .border(1px, solid, white, @right, @bottom, @left); .border-radius(3px, 3px, 0px, 0px); color: @abbey;
          .post-title
          { #fonts > .face > .droid-mono(normal, 24px, 0px); text-shadow: 1px 1px 1px black; }
          img
          { .size(100px, 100px); float: right; margin-top: -14px; margin-right: -7px; }
          .post-meta
          { padding-top: 4px; padding-left: 12px; #fonts > .face > .droid-mono(normal, 15px, 21px);
            .tag-css
            { .tag > .tag-css; }
            .tag-pure
            { .tag > .tag-pure; }
            .tag-js
            { .tag > .tag-js; }
            .tag-yui
            { .tag > .tag-yui; }
            .tag-uncategorized
            { .tag > .tag-uncategorized }
            a
            { color: @marino; text-decoration: none;
              &:hover
              { color: @azure; }
            }
          }
        }
        .post-description
        { background-color: white; padding: 0px 18px; .border(1px, solid, white, @right, @bottom, @left); .border-radius(0px, 0px, 3px, 3px);
          p
          { #fonts > .face > .droid-mono(normal, 14px, 24px); text-align: justify; color: darken(@boulder, 7%); }
          .post-images
          { .pure-g; padding: 14px 14px 0px 0px; }
        }
      }
    }
  }
}